@media (max-width: 1250px)
    .layers
        padding: 0 25px
@media (max-width: 1024px)
    .hero-content
        width: 100%
    h1
        font-size: 50px
    .swrap
        display: flex
        flex-wrap: wrap
    .go-down
        bottom: 40%
    .go-back
        bottom: 30% 
@media (max-width: 850px)
    .hero-content__p
        font-size: 35px
    .button
        max-width: 250px
        font-size: 25px
        padding: 7px
@media (max-width: 600px)
    .hero-content
        font-size: 40px
        h1
            font-size: 40px
    .button
        max-width: 180px;
        font-size: 22px;
@media (max-width: 500px)
    .hero-content
        font-size: 35px
        h1
            font-size: 30px
@media (max-width: 400px)
    .button
        max-width: 150px;
        font-size: 16px;
    .hero-content
        font-size: 35px
        h1
            font-size: 20px
    .hero-content__p
        font-size: 24px