<IfModule mod_expires.c>
    ExpiresActive On
    Header set Permissions-Policy "interest-cohort=()"

    # Кеширование изображений
    ExpiresByType image/svg+xml "access plus 10 minutes"
    ExpiresByType image/webp "access plus 10 minutes"
    ExpiresByType image/jpeg "access plus 10 minutes"
    ExpiresByType image/png "access plus 10 minutes"

    # Кеширование шрифтов
    ExpiresByType application/font-woff "access plus 10 minutes"
    ExpiresByType application/font-woff2 "access plus 10 minutes"
    ExpiresByType application/vnd.ms-fontobject "access plus 10 minutes"
    ExpiresByType font/ttf "access plus 10 minutes"

    # Кеширование стилей и скриптов
    ExpiresByType text/css "access plus 10 minutes"
    ExpiresByType application/javascript "access plus 10 minutes"

    # Дополнительные настройки для Cache-Control
    <FilesMatch "\.(css|js|woff|woff2)$">
        Header set Cache-Control "public, max-age=600"
    </FilesMatch>
    <FilesMatch "\.(svg|jpg|jpeg|png|gif|webp)$">
        Header set Cache-Control "public, max-age=600"
    </FilesMatch>
</IfModule>
